__pycache__
.ipynb_checkpoints/
*.pyc
ws3.egg-info/
build/
dist/
docs/build/
docs/build/doctrees
docs/build/html
docs/build/latex
# ignore .venv in the root of the workspace
.venv/
paper/jats
paper/paper.pdf